* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    user-select: none;
    font-size: 16px;

    /* 禁止调整大小 */
    resize: none;

    /* 清除默认边框 */
    border: none;
    outline: none;
}

/* 清除所有滚动条 */
*::-webkit-scrollbar{
    width: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* 很莫名其妙，不知道为什么body不在顶上 */
body{
    position: absolute;
    top: 0;
}

li {
    list-style: none;
}

