.dropDownBox{
    display: inline-block;
    position: relative;

    width: max-content;
}

.dropDownViewBox{
    transition: .3s;
    padding: 4px;
    border-radius: 6px;
}

.dropDownViewBox:hover{
    background-color: #fff;
    color: #39c5bb;
}

.dropDownUl{
    position: absolute;
    left: -10px;
    width: max-content;

    background-color: #39c5bb;
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-radius: 9px;
    overflow: hidden;
}

.dropDownUl li{
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    transition: all 0.3s;
    text-align: center;
    border-bottom: #ffffff39 2px solid;
}

.dropDownUl li:hover{
    background-color: #fff;
    color: #39c5bb;
}

.dropDownUl li:last-child{
    border-bottom: none;
}

.radioBox{
    display: inline-block;
}

.radioUl{
    display: flex;
    justify-content: space-between;
}

.radioLi{
    display: inline;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 9px;
    cursor: pointer;
}

.radioLiSelected{
    background-color: #ffffff39;
}

@keyframes popupTipPopup {
    0%{
        opacity: 0;
        top: 40px;
    }
    100%{
        opacity: 1;
        top: 60px;
    }
}

@keyframes popupTipDieout {
    0%{
        opacity: 1;
        top: 60px;
    }
    100%{
        opacity: 0;
        top: 40px;
    }
}

.popupTipBox {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    background-color: #fff;
    color: #39c5bb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.my_button {
    background-color: #ffffff39;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9px;
    transition: all 0.2s;
}

.my_button:hover {
    background-color: #fff;
    color: #39c5bb;
}

@keyframes buttonDown{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}

@keyframes buttonUp{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}