drop-down {
    display: inline-block;
    position: relative;
    color: #fff;
}

.dropDownDialog{
    left: -12px;
    width: max-content;
    background-color: #39c5bb;
    border: #fff 2px solid;
    border-radius: 9px;
    overflow: hidden;
}

.dropDownDialog li{
    padding: 4px 12px 4px 12px;
    transition: all 0.2s;
    color: #fff;
}
.dropDownDialog li:hover{
    background-color: #fff;
    color: #39c5bb;
}
.dropDownDialog li:last-child{
    border-bottom: none;
}

single-choice{
    display: inline-block;
}

single-choice{
    display: flex;
    justify-content: space-between;
}

.radioLi{
    display: inline;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 9px;
    cursor: pointer;
}

.radioLiSelected{
    background-color: #ffffff39;
}

@keyframes popupTipPopup {
    0%{
        opacity: 0;
        top: 40px;
    }
    100%{
        opacity: 1;
        top: 60px;
    }
}

@keyframes popupTipDieout {
    0%{
        opacity: 1;
        top: 60px;
    }
    100%{
        opacity: 0;
        top: 40px;
    }
}

popup-tip {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    background-color: #fff;
    color: #39c5bb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

my-button {
    background-color: #ffffff39;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9px;
    transition: all 0.2s;
}

my-button:hover {
    background-color: #fff;
    color: #39c5bb;
}

@keyframes buttonDown{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}

@keyframes buttonUp{
    0%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}