<style>
    .top {
        /* 定义边距、大小、边框、背景色 */
        margin: 9px;
        width: calc(100% - 18px);
        height: 60px;
        border-radius: 9px;
        background-color: #39c5bb;
    }

    .top_content {
        /* 定义大小、位置、颜色、子元素排列方式 */
        width: 1400px;
        height: 60px;
        margin: 0 auto;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .top_ul {
        display: flex;
        align-items: center;

        width: min-content;
    }

    .top_ul>li {
        margin-left: 6px;
        margin-right: 6px;
        width: max-content;
    }

    .top_ul>my-button {
        width: max-content;
    }

    .top_ul my-button {
        margin: 0 5px 0 5px;
        padding: 5px 10px 5px 10px;
    }
</style>

<div class="top">
    <div class="top_content">
        <ul class="top_ul">
            <li>
                <single-choice id="runMode"></single-choice>
            </li>
            <li>清空画面</li>
        </ul>
        <ul class="top_ul">
            <style>
                #serialSetWindow>dialog {
                    top: 10px;
                    padding: 20px;
                    color: #39c5bb;
                    width: 180px;
                    background-color: #ffffff;
                    border-radius: 9px;
                    box-shadow: #ffffff 0px 0px 39px;
                }

                #serialSetWindowBox>div {
                    margin-bottom: 10px;
                }
            </style>
            <li style="position: relative;">
                <my-button onClick="serialSetWindow.change()">串口设置</my-button>
                <popup-window id="serialSetWindow">
                    <div id="serialSetWindowBox">
                        <div><drop-down id="baudRateDom" value="Number(115200)" tag="波特率："></drop-down></div>
                        <div><drop-down id="dataBitsDom" value="Number(8)" tag="数据位："></drop-down></div>
                        <div><drop-down id="stopBitsDom" value="Number(1)" tag="停止位："></drop-down></div>
                        <div><drop-down id="parityDom" tag="奇偶校验："></drop-down></div>
                    </div>
                </popup-window>
            </li>
            <li><my-button class="buttonWhite" onclick="openSerial()">打开串口</my-button></li>
            <li><my-button class="buttonWhite" onclick="closeSerial()">关闭串口</my-button></li>
            <li><drop-down id="refreshRate" value="Number(500)" tag="刷新率："></drop-down></li>
            <li><my-button class="buttonWhite">妙妙工具</my-button></li>
            <script>
                runMode.setOptions([{ key: "运行", value: 0 }, { key: "编辑", value: 1 }]);
                baudRateDom.setOptions([
                    { key: "9600", value: 9600 },
                    { key: "19200", value: 19200 },
                    { key: "115200", value: 115200 }
                ]);
                dataBitsDom.setOptions([
                    { key: "7", value: 7 },
                    { key: "8", value: 8 }
                ]);
                stopBitsDom.setOptions([
                    { key: "1", value: 1 },
                    { key: "2", value: 2 }
                ]);
                parityDom.setOptions([
                    { key: "none", value: "none" },
                    { key: "even", value: "even" },
                    { key: "odd", value: "odd" }
                ]);
                refreshRate.setOptions([
                    { key: "100ms", value: 100 },
                    { key: "500ms", value: 500 },
                    { key: "1000ms", value: 1000 }
                ]);
            </script>
        </ul>
        <ul class="top_ul">
            <my-button onclick="saveToCookie()">保存至Cookie</my-button>
            <my-button onclick="readFromCookie()">从Cookie读取</my-button>
            <my-button>保存至文件</my-button>
            <my-button>从文件读取</my-button>
        </ul>
    </div>
</div>

<script>
    var master = new ModBusRTUMaster();

    master.onWriteCallback = function (timestamp, data) {
        let dataStr = "写：";
        for (let i = 0; i < data.length; i++) {
            dataStr += data[i].toString(16).padStart(2, '0') + " ";
        }
        addRecord(timestamp, dataStr);
    }
    master.onReadCallback = function (timestamp, data) {
        let dataStr = "读：";
        for (let i = 0; i < data.length; i++) {
            dataStr += data[i].toString(16).padStart(2, '0') + " ";
        }
        addRecord(timestamp, dataStr);
    }
    master.onMdParseCallback = function (timestamp, data) {
        let dataStr = "解：";
        for (key in data) {
            dataStr += `${key}:${data[key]} `;
        }
        addRecord(timestamp, dataStr);
    }
    function addRecord(timestamp, dataStr) {
        let dateStr = "";
        dateStr = new Date(timestamp).toLocaleTimeString();

        let li = document.createElement('li');
        li.innerText = `${dateStr} ${dataStr} `;
        if (body_record_ul.childElementCount > 20) {
            body_record_ul.removeChild(body_record_ul.firstElementChild);
        }
        body_record_ul.append(li);
    }

    async function openSerial() {
        try {
            master.port = await navigator.serial.requestPort();
        } catch {
            popupTip.innerText = "请选择串口！";
            popupTip.duration = 2000;
            popupTip.popup();
            return;
        }

        try {
            await master.startMaster({
                baudRate: Number(baudRateDom.value),
                dataBits: Number(dataBitsDom.value),
                stopBits: Number(stopBitsDom.value),
                parity: parityDom.value,
                bufferSize: 1024,
                flowControl: "none"
            });
        } catch (error) {
            popupTip.innerText = `主站运行错误！${error}`;
            popupTip.duration = 2000;
            popupTip.popup();
        }
    }

    var timer;
    function loop() {
        timer = setTimeout(async () => {
            for (let i = 0; i < coilCtrls.length; i++) {
                await master.readCoils(coilCtrls[i].station, coilCtrls[i].addr, 1).then(data => {
                    coilCtrls[i].setValue(data.formatValue[0]);
                });
            }
            for (let i = 0; i < regCtrls.length; i++) {
                if (regCtrls[i].focus === true) {
                    continue;
                }
                if (regCtrls[i].valueType === 'UINT16') {
                    await master.readHoldingRegisters(regCtrls[i].station, regCtrls[i].addr, 1).then(data => {
                        regCtrls[i].setValue(data.formatValue[0]);
                    });
                } else if (regCtrls[i].valueType === 'Float32') {
                    await master.readHoldingRegisters(regCtrls[i].station, regCtrls[i].addr, 2).then(data => {
                        regCtrls[i].setValue(data.formatValue);
                    });
                }
            }
            if (runMode.value === 0) {
                loop();
            }
        }, refreshRate.value);
    };

    runMode.onValueChangeEvent = function (value) {
        coilCtrls = document.getElementsByClassName('coilCtrlBox');
        regCtrls = document.getElementsByClassName('regCtrlBox');
        if (value === 0) {
            clickMenuBox.style.display = 'none';
            elementMgr.toShowMode();
            loop();
        } else if (value === 1) {
            elementMgr.toEditMode();
        }
    }

</script>